{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./src",
    "paths": {
      "@application/*": ["application/*"],
      "@domain/*": ["domain/*"],
      "@infrastructure/*": ["infrastructure/*"],
      "@shared/*": ["shared/*"]
    },
    "target": "esnext"
  },
  "module": {
    "type": "es6",
    "resolveFully": true
  },
  "minify": false
}
